<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LYP</title>
    <script src="/assets/js/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/qs/6.5.1/qs.min.js"></script>
</head>
<body style="background:url(/assets/img/star-sky.jpg); background-position-x: initial;background-position-y: initial;
    background-size: cover;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;">
<div class="container" id="logAndSign" style="text-align: center;">
    <el-card class="box-card" shadow="always" style="width:50%;margin-left: 25%;margin-top:15%">
        <el-tabs v-model="activeName" @tab-click="handleClick">
            <el-tab-pane label="登录" name="first">
                <el-form ref="form" :model="form" label-width="80px">
                    <el-form-item label="邮箱:" style="margin-left: 20%">
                        <el-input v-model="form.loginEmail" placeholder="Email" style="margin-right:200px;width: 50%"></el-input>
                    </el-form-item>
                    <el-form-item label="密码:"  style="margin-left: 20%">
                        <el-input v-model="form.loginPwd" placeholder="Password" show-password style="margin-right:200px;width: 50%"></el-input>
                    </el-form-item>
                    <el-form-item  style="margin-right:15%">
                        <el-button type="primary" @click="login">登录</el-button>
                    </el-form-item>
                </el-form>
            </el-tab-pane>
            <el-tab-pane label="注册" name="second">
                <el-form ref="form" :model="form" label-width="80px">
                    <el-form-item label="邮箱:" style="margin-left: 20%">
                        <el-input v-model="form.signEmail" placeholder="Email" style="margin-right:200px;width: 50%"></el-input>
                    </el-form-item>
                    <el-form-item label="密码:"  style="margin-left: 20%">
                        <el-input v-model="form.signPwd" placeholder="Password" show-password style="margin-right:200px;width: 50%"></el-input>
                    </el-form-item>
                    <el-form-item label="验证码:" style="margin-left: 23%">
                        <el-input v-model="form.code" placeholder="code" style="margin-right:200px;width: 55%"></el-input>
                    </el-form-item>
                    <el-form-item  v-show ="signShow" style="margin-right:15%">
                        <el-button type="primary" @click="signup">注册</el-button>
                    </el-form-item>
                    <el-form-item v-show="sendShow" style="margin-right:15%">
                        <el-button type="primary" @click="send">发送邮箱</el-button>
                    </el-form-item>
                </el-form>
            </el-tab-pane>
        </el-tabs>
    </el-card>

</div>
<script>
    var regEmail=/^\w+@[a-zA-Z0-9]{2,10}(?:\.[a-z]{2,4}){1,3}$/;
    var regPwd=/^[a-zA-Z]\w{6,12}$/
    var logAndSign = new Vue({
        el:"#logAndSign",
        data(){
            return{
                form:{
                    loginEmail:"",
                    loginPwd:"",
                    signEmail:"",
                    signPwd:"",
                    code:"",
                },
                activeName: 'first',
                sendShow:true,
                signShow:false,
            }
        },
        methods:{
            handleClick(tab, event) {
                this.form.loginPwd=""
                this.form.signPwd=""
                this.form.signEmail=""
                this.form.code=""
                this.sendShow=true
                this.signShow=false
            },
            login(){
                if(typeof this.form.loginEmail == "undefined" || this.form.loginEmail == null || this.form.loginEmail == "" ||
                    !regEmail.test(this.form.loginEmail)){
                    this.$message.error("邮箱为空或者格式不对")
                    return
                }
                if(typeof this.form.loginPwd == "undefined" || this.form.loginPwd == null || this.form.loginPwd == ""  ){
                    this.$message.error("请输入密码")
                    return
                }
                 var self = this
             axios.post('/user/login',
                 Qs.stringify({
                     email:this.form.loginEmail,
                     password:this.form.loginPwd
                 })

                    ).then(function (res) {
                        console.log(res.data.isLogin)
                        if(res.data.isLogin =='true'){
                            if(res.data.role ==='s'){
                                location.replace('html/home.html?user=' + res.data.email)
                                localStorage.setItem("studentEmail",res.data.email)
                            }else if(res.data.role ==='t'){
                                localStorage.setItem("teacherEmail",res.data.email)
                                location.replace('html/teacherCourse.html?user=' + res.data.email)
                            }else{
                                localStorage.setItem("managerEmail",res.data.email)
                            }
                        }else{
                            self.$message.error('错了哦，检查邮箱及密码ヽ(ー_ー)ノ');
                        }
                    }).catch(function (error) {
                          console.log(error)
                    })
                    
            },
            signup(){
                if(typeof this.form.code == "undefined" || this.form.code == null || this.form.code == ""  ){
                    this.$message.error("请填写验证码")
                    return
                }
                var self = this
                axios.post('/user/active',
                    Qs.stringify({
                        code: this.form.code,
                    })
                ).then(function (res) {
                    if(res.data.success ==true){
                        self.$message({
                            message:"校验通过，快去登录吧(✪ω✪)",
                            type: 'success'
                        })
                        self.signShow=false
                        self.sendShow=true
                    }else{
                        self.$message.error(res.data.message)

                    }
                }).catch(function (error) {
                    console.log(error)
                })
            },
            send(){
                if(typeof this.form.signEmail == "undefined" || this.form.signEmail == null || this.form.signEmail == "" ||
                !regEmail.test(this.form.signEmail)){
                    this.$message.error("邮箱为空或者格式不对")
                    return
                }
                if(typeof this.form.signPwd == "undefined" || this.form.signPwd == null || this.form.signPwd == ""  ){
                    this.$message.error("请设置密码")
                    return
                }
                var self = this
                axios.post('/user/signUp',
                    Qs.stringify({
                        email: this.form.signEmail,
                        password:this.form.signPwd
                    })
                ).then(function (res) {
                    console.log(res)
                    console.log(res.data)
                    if(res.data.success ==true){
                        self.$message({
                            message:"验证码已发送至邮箱，请注意查收(^_−)☆",
                            type: 'success'
                        })
                        self.signShow=true
                        self.sendShow=false
                    }else{
                        self.$message.error(res.data.message)
                        self.signShow=false
                        self.sendShow=true
                    }
                }).catch(function (error) {
                    console.log(error)
                })
            },
        }
    })
</script>
</body>
</html>